.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(255, 193, 7, 0.3);
}

.product-card:hover img {
  transform: scale(1.05);
}

.product-card .btn:hover {
  background-color: #4e7661 !important;
  box-shadow: 0 0 15px #4e7661;
}
